<c-card class="mb-4">
  <c-card-header>
    <c-row>
      <c-col>
        <button
          cButton
          color="secondary"
          variant="outline"
          role="button"
          class="me-2"
          (click)="add()"
        >Добавить событие
        </button>
      </c-col>
    </c-row>
  </c-card-header>
  <c-card-body>
    @if (feature.list.loading$ | async) {
      Загрузка...
    }

    @if (feature.errors$ | async; as errors) {
      <app-errors [errors]="errors" />
    }

    @if (feature.list.data$ | async; as events) {
      @if (events.length > 0) {
        <table
          [hover]="true"
          [responsive]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead class="text-nowrap text-truncate">
          <tr>
            <th class="bg-body-tertiary">Анонс</th>
            <th class="bg-body-tertiary"></th>
          </tr>
          </thead>
          <tbody>
            @for (event of events; track event.id) {
              <tr>
                <td>
                  <div>
                    {{ event.title }}
                  </div>
                </td>
                <td>
                  @if (!event.eventOptions.system) {
                    <div class="d-flex justify-content-end">
                      <button
                        cButton
                        size="sm"
                        color="secondary"
                        variant="outline"
                        [disabled]="feature.remove.loading$ | async"
                        (click)="remove(event.id)"
                      >
                        Удалить
                      </button>
                    </div>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        Нет событий
      }
    }
  </c-card-body>
</c-card>

<ng-container #modalContainer></ng-container>