.fs-7 {
  font-size: 0.95rem;
}

.fs-8 {
  font-size: 0.85rem;
}

.small-alert {
  padding: 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.message {
  &__load-more {
    button {
      svg[name='cil-level-up'] {
        transform: rotate(90deg);
      }
    }
  }
}