<form cForm [formGroup]="eventForm">
  <div class="mb-3">
    <label cLabel for="inputEventTitle">Название события</label>
    <input
      aria-describedby="eventTitleHelpBlock"
      cFormControl
      [valid]="!eventForm.get('title')?.invalid"
      id="inputEventTitle"
      formControlName="title"
    >
    <span cFormText id="eventTitleHelpBlock">
      Например: "Новый участник группы", "Праздник Пасха".
    </span>
  </div>

  <div class="mb-3">
    <label cLabel for="inputAnnouncementId">Назначить анонс</label>
    <select
      id="inputAnnouncementId"
      [valid]="!eventForm.get('announcementId')?.invalid"
      formControlName="announcementId"
      aria-label="Назначить анонс"
      aria-describedby="announcementIdHelpBlock"
      cSelect
    >
      @for (announcement of announcements; track announcement.id) {
        <option [value]="announcement.id">{{ announcement.title }}</option>
      }
    </select>
    <span cFormText id="announcementIdHelpBlock">
      Текст анонса будет использован при отправке события в чат группы.
    </span>
  </div>
</form>

<form cForm [formGroup]="eventOptionsForm">
  <div class="mb-3">
    <label cLabel for="inputFrequencyType">Тип повторения события</label>
    <select
      id="inputFrequencyType"
      [valid]="!eventOptionsForm.get('frequencyType')?.invalid"
      formControlName="frequencyType"
      aria-label="Тип повторения события"
      aria-describedby="frequencyTypeHelpBlock"
      cSelect
    >
      <option [value]="FrequencyType.Hourly">Ежечасно</option>
      <option [value]="FrequencyType.Daily">Ежедневно</option>
      <option [value]="FrequencyType.Weekly">Еженедельно</option>
      <option [value]="FrequencyType.Monthly">Ежемесячно</option>
      <option [value]="FrequencyType.Yearly">Ежегодно</option>
    </select>
    <span cFormText id="frequencyTypeHelpBlock">
      Выберите частоту повторения события.
    </span>
  </div>

  <div class="mb-3">
    <label cLabel for="inputInterval">Интервал повторения</label>
    <input
      type="number"
      id="inputInterval"
      extendedFormControl
      [valid]="!eventOptionsForm.get('interval')?.invalid"
      formControlName="interval"
      aria-label="Интервал повторения"
      aria-describedby="intervalHelpBlock"
    >
    <span cFormText id="intervalHelpBlock">
      Укажите интервал между повторениями (например, 1 час, 2 дня и т.д.).
    </span>
  </div>

  <div class="mb-3">
    <label cLabel for="inputStartDate">Дата начала</label>
    <input
      type="datetime-local"
      id="inputStartDate"
      extendedFormControl
      [valid]="!eventOptionsForm.get('startDate')?.invalid"
      formControlName="startDate"
      aria-label="Дата начала"
      aria-describedby="startDateHelpBlock"
    >
    <span cFormText id="startDateHelpBlock">
      Укажите дату и время начала события.
    </span>
  </div>

  <div class="mb-3">
    <label cLabel for="inputEndDate">Дата окончания</label>
    <input
      type="datetime-local"
      id="inputEndDate"
      extendedFormControl
      [valid]="!eventOptionsForm.get('endDate')?.invalid"
      formControlName="endDate"
      aria-label="Дата окончания"
      aria-describedby="endDateHelpBlock"
    >
    <div cFormText id="endDateHelpBlock">
      <p>
        Укажите дату и время окончания события (опционально).
      </p>
      @if (eventOptionsForm.get('endDate')?.errors?.['endDateBeforeStartDate']) {
        <p [cTextColor]="'danger'">
          Дата окончания не может быть меньше даты начала.
        </p>
      }
    </div>
  </div>
</form>
