<form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label cLabel for="inputTitle">Название</label>
    <input
      aria-describedby="titleHelpBlock"
      cFormControl
      id="inputTitle"
      formControlName="title"
    >
    <span cFormText id="titleHelpBlock">
      Название анонса не используется при отправке в чат.
    </span>
  </div>
  <div class="mb-3">
    <label cLabel for="inputText">Текст</label>
    <textarea
      aria-describedby="textHelpBlock"
      cFormControl
      id="inputText"
      formControlName="text"
      rows="10"
    ></textarea>
    <span cFormText id="textHelpBlock">
      Текст анонса будет отправлен в чат группы.
    </span>
  </div>
  <button cButton color="primary" type="submit" [disabled]="form.disabled">Сохранить</button>
</form>